*{
padding:0;
margin:0;
box-sizing: border-box;
}

.header{
    width: 100;
    background-color: rgb(73, 163, 219);
display: flex;
justify-content: space-between;

}

.container-logo{
    display: flex;
    align-items: center;
}


}